body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: rgb(120, 128, 15);
}
.logo h1 {
  margin-left: 20px;
  font-size: bold;
}

.orange {
  color: orange;
}

.food-order-link {
  text-decoration: none;
  background-image: linear-gradient(salmon, orange);
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
}

.content {
  width: 50%;
  padding-left: 10%;
}

.content img {
  width: 60%;
}

section {
  display: flex;
  margin-bottom: 150px;
}

.head {
  background-image: url(images/bg-1.jpg);
  background-repeat: no-repeat;
}

.aboutme {
  background-image: url(images/bg-2.jpg);
  background-repeat: no-repeat;
}

.our-food {
  text-align: center;
}

.our-food h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 40px;
  color: #191918;
  padding: 20px 0px;
}

.card {
  width: 300px;
  margin: 10px;
  background-color: white;
  padding: 15px;

  box-sizing: border-box;
  box-shadow: 6px 12px 10px rgb(238, 234, 234);
  border-radius: 10px;
}

.card-body {
  padding: 5px;
}
.card-title {
  text-align: center;
}
.card-desc {
  text-align: justify;
  line-height: 1.5;
}

.card-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.new-area {
  display: flex;
  margin: 100px 230px 100px 245px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.new-area-style {
  text-align: center;
  margin: 0 auto 0;
  padding: 20px;
}

.footer-design {
  background-color: black;
  text-align: center;
  padding: 20px 40px;
}
.grey-coloring {
  color: grey;
}
